/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark-subtle: 0 2rem 5rem rgba(0, 0, 0, .1);
  --shadow-dark-medium: 0 2rem 6rem rgba(0, 0, 0, .3);
  --border-grey: 1px solid var(--color-grey-light-1); }

* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right top, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.logo {
  height: 3rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-grey-light-2); } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }
  .search__dropdown {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70%;
    left: auto;
    width: 92%;
    background-image: linear-gradient(to bottom, #ff3366e0, #BA265D);
    z-index: 110;
    border-radius: 0 0 10px 10px;
    padding: 1rem; }
    .search__dropdown-item {
      display: flex;
      background-color: var(--color-primary-dark);
      border-radius: 100px;
      padding: .5rem;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 700;
      align-items: center;
      justify-content: space-around; }
      .search__dropdown-item:not(:last-child) {
        margin-bottom: .5rem; }
      .search__dropdown-item:hover {
        background-color: var(--color-grey-light-1);
        color: var(--color-primary); }
    .search__dropdown-photo {
      width: 13%;
      border-radius: 50%;
      border: 2px solid #fff; }
    .search__dropdown-city {
      font-size: .9rem;
      font-weight: 400; }
    .search__dropdown > ul {
      list-style: none; }
  .search__input:focus ~ .search__dropdown {
    visibility: visible;
    opacity: 1;
    top: 100%;
    transition: all .5s; }
  .search__stars-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-primary); }

.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__dropdown-chat {
    visibility: hidden;
    position: absolute;
    top: 70%;
    right: -1px;
    display: flex;
    flex-direction: column;
    width: 400%;
    padding: 1rem;
    z-index: 150;
    box-shadow: var(--shadow-dark-subtle);
    border-radius: 5%; }
  .user-nav__icon-box:hover:nth-of-type(2) .user-nav__dropdown-chat {
    visibility: visible;
    position: absolute;
    top: 100%;
    right: 0;
    background-image: linear-gradient(to bottom, #ff3366e0, #BA265D);
    color: #fff;
    transition: all .5s; }
  .user-nav__dropdown-chatbox--left, .user-nav__dropdown-chatbox--right {
    display: flex;
    background-color: var(--color-primary-dark);
    padding: .5rem;
    margin: .5rem;
    border-radius: 3rem; }
    .user-nav__dropdown-chatbox--left > img, .user-nav__dropdown-chatbox--right > img {
      border-radius: 50%;
      width: 20%; }
    .user-nav__dropdown-chatbox--left:hover, .user-nav__dropdown-chatbox--right:hover {
      color: var(--color-primary);
      background-color: var(--color-grey-light-2); }
  .user-nav__dropdown-chatbox--right {
    flex-direction: row-reverse; }
  .user-nav__chat-text {
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem;
    color: currentColor;
    position: relative;
    flex: 1; }
  .user-nav .chat-date {
    position: absolute;
    font-size: .9rem;
    font-weight: 300;
    top: 75%;
    right: 7%; }
  .user-nav .btn-white {
    font-weight: 500;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: var(--color-grey-light-3);
    margin-top: 1rem;
    cursor: pointer;
    align-self: center;
    transition: all .1s;
    box-shadow: var(--shadow-dark-subtle); }
    .user-nav .btn-white:hover {
      transform: scale(1.1);
      box-shadow: var(--shadow-dark-medium); }
  .user-nav__icon-box--white {
    display: flex; }
    .user-nav__icon-box--white :hover {
      background-color: #fff;
      border-radius: 50%; }
      .user-nav__icon-box--white :hover > * {
        fill: var(--color-primary); }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
    .user-nav__icon--white {
      height: 2.5rem;
      width: 2.5rem;
      padding: .3rem;
      fill: #fff; }
      .user-nav__icon--white:not(:last-child) {
        margin-right: 1.5rem; }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .user-nav__user {
    position: relative; }
  .user-nav__dropdown-header {
    display: flex;
    justify-content: space-between; }
  .user-nav__dropdown-username {
    visibility: hidden;
    position: absolute;
    top: 70%;
    right: -1px;
    width: 120%;
    z-index: 150;
    box-shadow: var(--shadow-dark-subtle);
    border-radius: 3px; }
  .user-nav__dropdown-list {
    text-align: end;
    list-style: none;
    flex: 1; }
    .user-nav__dropdown-list > * {
      display: block;
      padding: .5rem;
      transition: background-color .1s; }
    .user-nav__dropdown-list > * > li::before {
      content: "";
      display: inline-block;
      height: 1.2rem;
      width: 1.2rem;
      margin-right: .7rem;
      background-size: cover;
      background-color: currentColor;
      -webkit-mask-size: cover;
      mask-size: cover; }
    .user-nav__dropdown-list > *:nth-child(1) > li::before {
      background-image: url(../img/tumblr-with-circle.svg); }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .user-nav__dropdown-list > *:nth-child(1) > li::before {
          -webkit-mask-image: url(../img/tumblr-with-circle.svg);
          mask-image: url(../img/tumblr-with-circle.svg);
          background-image: none; } }
    .user-nav__dropdown-list > *:nth-child(2) > li::before {
      background-image: url(../img/cog.svg); }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .user-nav__dropdown-list > *:nth-child(2) > li::before {
          -webkit-mask-image: url(../img/cog.svg);
          mask-image: url(../img/cog.svg);
          background-image: none; } }
    .user-nav__dropdown-list > *:nth-child(3) > li::before {
      background-image: url(../img/help-with-circle.svg); }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .user-nav__dropdown-list > *:nth-child(3) > li::before {
          -webkit-mask-image: url(../img/help-with-circle.svg);
          mask-image: url(../img/help-with-circle.svg);
          background-image: none; } }
    .user-nav__dropdown-list > *:nth-child(4) > li::before {
      background-image: url(../img/log-out.svg); }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .user-nav__dropdown-list > *:nth-child(4) > li::before {
          -webkit-mask-image: url(../img/log-out.svg);
          mask-image: url(../img/log-out.svg);
          background-image: none; } }
    .user-nav__dropdown-list > *:hover {
      color: var(--color-primary);
      background-color: var(--color-grey-light-2); }
  .user-nav__user:hover .user-nav__dropdown-username {
    visibility: visible;
    position: absolute;
    top: 100%;
    right: -1px;
    background-image: linear-gradient(to bottom, #ff3366e0, #BA265D);
    color: #fff;
    transition: all .5s; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 1.7rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }
    @media only screen and (max-width: 31.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: .5rem .5rem; } }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 0 .5rem 0; } }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.gallery {
  display: flex; }
  .gallery__item {
    position: relative;
    overflow: hidden; }
    .gallery__item > figcaption {
      background-image: linear-gradient(to right top, #ff3366e3, #ba265ce3);
      width: 100%;
      visibility: hidden;
      opacity: 0;
      color: var(--color-grey-light-2);
      position: absolute;
      bottom: 0;
      left: 0;
      padding: .5rem;
      transition: all .5s; }
    .gallery__item:hover > figcaption {
      visibility: visible;
      opacity: 1; }
  .gallery__photo {
    width: 100%;
    display: block;
    transition: all .5s; }
    .gallery__photo:hover {
      transform: scale(1.1); }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--border-grey); }
  .overview__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.7rem;
        padding: 1rem 2rem; } }
    @media only screen and (max-width: 31.25em) {
      .overview__heading {
        font-size: 1.2rem;
        font-weight: 400;
        flex-direction: column;
        padding: .5rem .5rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__stars-icon, .overview__location-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary); }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .overview__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0 1.5rem; } }
    @media only screen and (max-width: 31.25em) {
      .overview__rating {
        flex-direction: column;
        padding: 0 .5rem;
        margin-left: .5rem; } }
    .overview__rating-average {
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: -.3rem; }
      @media only screen and (max-width: 37.5em) {
        .overview__rating-average {
          font-size: 1.8rem; } }
    .overview__rating-count {
      font-size: .8rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 37.5em) {
        .overview__rating-count {
          font-size: .5rem; } }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;
  margin-left: .5rem; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .3s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
    .btn-inline:hover span {
      margin-left: .8rem; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--border-grey);
  border-bottom: var(--border-grey);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover; }
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      .list__item::before {
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none; } }

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    box-sizing: content-box; }
    .recommend__photo:not(:last-child) {
      margin-right: -2rem; }
  .recommend__count {
    margin-right: auto; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-dark-subtle);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem;
      margin-bottom: 3rem; } }
  .review__text {
    margin-bottom: 2rem;
    font-weight: 500;
    z-index: 10;
    position: relative; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%; }
  .review__user-box {
    margin-left: 1rem;
    margin-right: auto; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem; }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  .review__rating {
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary); }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.5rem;
    left: -1rem;
    font-size: 20rem;
    line-height: 1;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0; } }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn__visible {
    display: inline-block;
    padding: 2rem 7.5rem; }
  .btn__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark-medium);
  min-height: 50rem; }
  @media only screen and (max-width: 75rem) {
    .container {
      margin: 0;
      max-width: 100%; } }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--border-grey);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around;
      height: 10rem; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.details {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--border-grey); }
  @media only screen and (max-width: 56.25em) {
    .details {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .details {
      flex-direction: column; } }

.description {
  background-color: #fff;
  box-shadow: var(--shadow-dark-subtle);
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 2rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
